.checklist{
	width: 222px;
}
ul {
    list-style-type: none;
    background-color: #999;
    padding: 0;
    margin: 0;
    cursor: pointer;
}
li{
	height: 30px;
	line-height: 30px;
	font-size: 20px;
	padding-right: 5px;
    border: 1px black solid;
}
li:hover{
	background-color:#eee;
}
input[type=checkbox]:checked + span {
  text-decoration: line-through;
}
#newproduct{
    margin-bottom: 1px;
}
.fa.fa-times{
	float: right;
    line-height: 30px;
}