body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.phonebook{
     font-size: 26px;
    line-height: 26px;
}
.icons{
    float: right;
}
.fa-envelope{
    margin-right: 10px;
}
.fa-envelope:hover{
    cursor: pointer;
}